*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100px;
}

/*VARIABLES*/
.container:nth-child(1) {
  height: 20vh;
}

.container:nth-child(1) {
  height: 80vh;
}

/*HEADER*/
header#header-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
}
header#header-cont h3.envios-gratis {
  display: flex;
  flex: 5%;
  width: 100%;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #C31821;
  color: #FFFFFF;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header#header-cont nav.nav-tools {
  display: grid;
  flex: 20%;
  grid-template-areas: "burger logo carrito";
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}
@media (min-width: 992px) {
  header#header-cont nav.nav-tools {
    grid-template-areas: "logo buscador carrito" "logo menu carrito";
    grid-template-columns: 2fr 9fr 1fr;
    grid-template-rows: auto;
  }
}
header#header-cont p.nav-tools-page__text {
  display: flex;
  flex: 10%;
  padding: 10px;
  margin-bottom: 0;
  background-color: #EEEDFF;
  color: #C31821;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}
header#header-cont img.nav-tools-page__banner {
  width: 100%;
  flex: 65%;
}

/*NAVEGADOR*/
nav.nav-tools div.dropdown {
  display: flex;
  grid-area: burger;
}
nav.nav-tools div.dropdown img.hamburger-button {
  width: 30px;
  height: 30px;
}
@media (min-width: 992px) {
  nav.nav-tools div.dropdown {
    display: none;
  }
}
nav.nav-tools div.nav-tools__logo {
  display: flex;
  grid-area: logo;
}
nav.nav-tools div.nav-tools__logo a.nav-tools__logo-link {
  display: flex;
  width: auto;
}
nav.nav-tools div.nav-tools__logo a.nav-tools__logo-link img.nav-tools__logo-link-img {
  width: 150px;
}
nav.nav-tools div.nav-tools__barra-search {
  display: none;
  grid-area: buscador;
}
@media (min-width: 992px) {
  nav.nav-tools div.nav-tools__barra-search {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    padding: 0.3em 3em;
    gap: 20px;
    background-color: #EEEDFF;
  }
  nav.nav-tools div.nav-tools__barra-search input.search-input {
    width: 80%;
    height: 30px;
    border-radius: 30px;
    padding: 0 10px;
    border: none;
  }
  nav.nav-tools div.nav-tools__barra-search button.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  nav.nav-tools div.nav-tools__barra-search button.search-button img {
    width: 1rem;
    height: 1rem;
  }
}
nav.nav-tools div.nav-tools__list {
  display: none;
}
@media (min-width: 992px) {
  nav.nav-tools div.nav-tools__list ul.nav-tools__list-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    gap: 70px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  nav.nav-tools div.nav-tools__list ul.nav-tools__list-desktop li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
  }
}
@media (min-width: 992px) {
  nav.nav-tools div.nav-tools__list {
    display: flex;
    flex-direction: row;
    grid-area: menu;
  }
}
nav.nav-tools .nav-tools__carrito-compras {
  display: flex;
  width: 30px;
  height: 30px;
  grid-area: carrito;
}

/*MAIN*/
/*PRIMER SECCION


PAGINA DE BIENVENIDA - WELCOME PAGE
*/
main#main-container {
  background-color: #EEEDFF;
}
main#main-container section#section-welcome-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
main#main-container section#section-welcome-page div.section-welcome-page__mayorista {
  display: flex;
  font-size: 10px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: linear-gradient(to bottom, #C31821, #EEEDFF);
  padding: 2em 1em;
  gap: 2em;
}
main#main-container section#section-welcome-page div.section-welcome-page__mayorista div.section-welcome-page__mayorista-text {
  width: 100%;
}
main#main-container section#section-welcome-page div.section-welcome-page__mayorista div.section-welcome-page__mayorista-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3em;
  margin: 0;
  color: #fff;
}
main#main-container section#section-welcome-page div.section-welcome-page__mayorista div.section-welcome-page__mayorista-button {
  width: 100%;
}
main#main-container section#section-welcome-page div.section-welcome-page__mayorista div.section-welcome-page__mayorista-button a input.button {
  width: auto;
  height: auto;
  border: 2px solid #000000;
  border-radius: 2em;
  padding: 0.3em 0.6em;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #C31821;
}
main#main-container section#section-welcome-page div.section-welcome-page__mayorista div.section-welcome-page__mayorista-button a input.button:hover {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
}
@media (min-width: 992px) {
  main#main-container section#section-welcome-page div.section-welcome-page__mayorista {
    flex-direction: row;
    background: linear-gradient(to right, #C31821, #EEEDFF);
  }
  main#main-container section#section-welcome-page div.section-welcome-page__mayorista div.section-welcome-page__mayorista-text {
    width: 50%;
  }
  main#main-container section#section-welcome-page div.section-welcome-page__mayorista div.section-welcome-page__mayorista-button {
    width: 50%;
  }
}

/*SEGUNDA SECCION


CATEGORIAS*/
section#section-category {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 25px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #EEEDFF, #A5A7DD, #EEEDFF);
}
section#section-category h2.product-tittle {
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: underline;
  margin: 40px;
}
section#section-category h3.category__tittle {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
  margin: 0 20px;
}
@media (min-width: 992px) {
  section#section-category h3.category__tittle {
    align-self: flex-start;
    margin-left: 20px;
  }
}
section#section-category div.container-articulos {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-radius: 20px;
}
section#section-category div.container-articulos div.container-articulos__imagen-y-titulo {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  height: 400px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
section#section-category div.container-articulos div.container-articulos__imagen-y-titulo img.imagen {
  width: 248px;
  height: 250px;
  padding-top: 40px;
}
section#section-category div.container-articulos div.container-articulos__imagen-y-titulo p.nombre-producto__parrafo {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  section#section-category div.container-articulos {
    flex-direction: row;
    width: 100%;
    gap: unset;
    justify-content: space-around;
  }
}

/*TERCER SECCION


INFORMACION
*/
section#tercer-section div.cont-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 10px;
  width: auto;
}
section#tercer-section div.cont-info div.info-extra {
  display: flex;
  width: 12.5rem;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  text-align: center;
  font-size: 900;
}
@media (min-width: 992px) {
  section#tercer-section div.cont-info {
    flex-direction: row;
    justify-content: space-around;
  }
}

/*SECCION FOOTER*/
footer#footer div.container-footer {
  display: flex;
  flex-direction: column;
  background-color: #777395;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  align-items: center;
  gap: 40px;
}
footer#footer div.container-footer div.container-footer__about-us {
  display: flex;
  flex-direction: column;
  font-size: 900;
  text-align: center;
  gap: 20px;
  margin-top: 30px;
}
footer#footer div.container-footer div.container-footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
footer#footer div.container-footer div.container-footer__social-media a {
  width: auto;
}
footer#footer div.container-footer div.container-footer__social-media a img.logo {
  width: 50px;
}
footer#footer div.container-footer div.container-footer__contact {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
@media (min-width: 992px) {
  footer#footer div.container-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

/*>>>>>PRODUCTOS<<<<<*/
/*SECCION LINKS A MARCAS*/
section#section-links-category {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 80vh;
  background-color: rgba(120, 120, 120, 0.5);
}
section#section-links-category div.container-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid black;
  height: 100px;
  position: relative;
  transition: background-color 1s;
}
section#section-links-category div.container-link:nth-of-type(1) {
  background: linear-gradient(to right, #C31821, #FFFFFF);
}
section#section-links-category div.container-link:nth-of-type(1):hover {
  transform: scale(1.05);
}
section#section-links-category div.container-link:nth-of-type(2) {
  background: linear-gradient(to right, #FFFFFF, green, #FFFFFF);
}
section#section-links-category div.container-link:nth-of-type(2):hover {
  transform: scale(1.05);
}
section#section-links-category div.container-link:nth-of-type(3) {
  background: linear-gradient(to right, blue, #FFFFFF);
}
section#section-links-category div.container-link:nth-of-type(3):hover {
  transform: scale(1.05);
}
section#section-links-category div.container-link a.container-link-a {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
section#section-links-category div.container-link a.container-link-a img.container-link__icon {
  width: 60px;
}
section#section-links-category div.container-link a.container-link-a h2.container-link__tittle {
  text-align: center;
  color: #000000;
  font-size: 3.5rem;
  margin-bottom: 0;
  width: auto;
}

/*# sourceMappingURL=styles.css.map */
