<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Distribuidora Grupo UMSA</title>
        <link rel="icon" href="iconogrupoumsa.ico">
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <header class="header">
            <nav class="nav-opc">
                <div class="logo">
                    <a href="index.html">
                        <img src="Imagenes/iconogrupoumsa1.ico" alt="Logo Grupo Umsa">
                    </a>
                 </div>
                <div class="navegador" >
                    <ul>
                        <li class="list-horizontal"><a href="accesoriosparavehiculos.html">Accesorios para Vehículos</a></li>
                        <li class="list-horizontal"><a href="deportesyfitness.html">Deportes y Fitness</a></li>
                        <li class="list-horizontal"><a href="industriasyoficinas.html">Industrias y Oficinas</a></li>
                        <li class="list-horizontal"><a href="mascategorias.html">Mas categorias</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <H1><b>Deportes y Fitness</b></H1>
        <article>
            <section>
                <h1>DEPORTES Y FITNESS</h1>
                <ul>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-670939163-pelota-futbol-no4-profesional-futsal-medio-pique-cancha-de-5-_JM#position=2&search_layout=stack&type=item&tracking_id=e4188e76-15fd-4767-8a01-4ad0c3e0744d" target="_blank">Pelota Cobra Naranja</a></li>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-731347891-patines-4-ruedas-con-luces-tipo-soy-luna-talles-26-al-39-_JM#position=15&search_layout=stack&type=item&tracking_id=e4188e76-15fd-4767-8a01-4ad0c3e0744d" target="_blank">Patin rosa con luces</a></li>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-770507010-guantes-boxeo-profesionales-6-8-10-12-14oz-tipo-everlast-box-_JM#position=38&search_layout=stack&type=item&tracking_id=e4188e76-15fd-4767-8a01-4ad0c3e0744d" target="_blank">Guantes de box Amarillo/Negro</a></li>
                </ul>
            </section>
        </article>
        <footer id="footer">
            <div class="separar-elementos">
                <div class="info-empresa" class="padding-footer">
                    <h3>SOBRE NOSOTROS</h3>
                    <p>
                        Somos una distribuidora que cuenta con<br>
                        una amplia variedad de productos:<br>
                        artículos deportivos, jardinería,<br>
                        repuestos para vehículos, insumos<br>
                        industriales, etc.<br>
                        Marcas: Dolphin, OHC, Teswelltech.
                    </p>
                </div>
                <div class="contacto" class="padding-footer">
                    <p>
                        (11) 26780335
                    </p>
                    <p>
                        mnavarro@grupoumsa.com
                    </p>
                    <p>
                        DIAZ VELEZ 2890 GUAYMALLEN MENDOZA
                    </p>
                    
                </div>
            </div>
        </footer>        
    </body>
</html>