<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Distribuidora Grupo UMSA</title>
        <link rel="icon" href="iconogrupoumsa.ico">
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        
        <header class="header">
            <nav class="nav-opc">
                <div class="logo">
                    <a href="index.html">
                        <img src="Imagenes/iconogrupoumsa1.ico" alt="Logo Grupo Umsa">
                    </a>
                 </div>
                <div class="navegador" >
                    <ul>
                        <li class="list-horizontal"><a href="accesoriosparavehiculos.html">Accesorios para Vehículos</a></li>
                        <li class="list-horizontal"><a href="deportesyfitness.html">Deportes y Fitness</a></li>
                        <li class="list-horizontal"><a href="industriasyoficinas.html">Industrias y Oficinas</a></li>
                        <li class="list-horizontal"><a href="mascategorias.html">Mas categorias</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <H1><b>Mas categorias</b></H1>
        <footer id="footer">
            <div class="separar-elementos">
                <div class="info-empresa" class="padding-footer">
                    <h3>SOBRE NOSOTROS</h3>
                    <p>
                        Somos una distribuidora que cuenta con<br>
                        una amplia variedad de productos:<br>
                        artículos deportivos, jardinería,<br>
                        repuestos para vehículos, insumos<br>
                        industriales, etc.<br>
                        Marcas: Dolphin, OHC, Teswelltech.
                    </p>
                </div>
                <div class="contacto" class="padding-footer">
                    <p>
                        (11) 26780335
                    </p>
                    <p>
                        mnavarro@grupoumsa.com
                    </p>
                    <p>
                        DIAZ VELEZ 2890 GUAYMALLEN MENDOZA
                    </p>
                    
                </div>
            </div>
        </footer>
    </body>
</html>