<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Distribuidora Grupo UMSA</title>
        <link rel="icon" href="/Imagenes/Iconos/iconogrupoumsa1.ico">
        <link rel="stylesheet" type="text/css" href="/Styles/contacto.css">
        <link rel="stylesheet" type="text/css" href="/Styles/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Victor+Mono:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body class="container">
        <header class="header-cont">
            <h3 class="envios-gratis">Envios gratis con la compra minima de $10000</h3>
            <nav class="nav-tools" >
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/Imagenes/Iconos/menu-burger.png" alt="Boton Hamburguesa" class="hamburger-button">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/index.html">Inicio</a></li>
                        <li><a class="dropdown-item" href="Views/productos.html">Productos</a></li>
                        <li><a class="dropdown-item" href="Views/acerca-de.html">Acerca de</a></li>
                        <li><a class="dropdown-item" href="Views/contacto.html">Contacto</a></li>
                    </ul>
                </div>
                <a href="index.html" class="nav-tools__logo">
                    <img src="/Imagenes/Iconos/iconogrupoumsa1.ico" alt="Logo Grupo Umsa" class="">
                </a>
                <img src="/Imagenes/Iconos/carro-de-la-carretilla.png" alt="Carrito de compras" class="nav-tools__carrito-compras">
                
            </nav>
        </header>

        <main>
            <section id="container-contacto">
                <div class="contact-title">
                    <h1 class="contact-title__text">CONTACTO</h1>
                </div>
                <div class="horarios-de-atencion">
                    <h2 class="horarios-de-atencion__tittle">Nuestros horarios de atencion:</h2>
                    <p class="horarios-de-atencion__text1">Lunes a Viernes</p>
                    <p class="horarios-de-atencion__text2">9 a 18hs</p>
                    <p class="horarios-de-atencion__text3">Sabados</p>
                    <p class="horarios-de-atencion__text4">9 a 12hs</p>
                </div>
            </section>
            <section id="location">
                <h2 class="location__tittle">Donde nos podes encontrar?</h2>
                <iframe class="location__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.0705368649606!2d-68.83754212409715!3d-32.92273457068166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0960089ab82d%3A0x77857970e9a92c81!2sDistribuidora%20Grupo%20Umsa!5e0!3m2!1ses-419!2sar!4v1691960465826!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
            <section class="container-formulario">
                <div class="container">
                    <div class="row center">
                        <div class="col-md-12">
                            <div class="well well-sm">
                                <form class="form-horizontal" method="post">
                                    <fieldset>
                                        <legend class="text-center header">CONTACTO</legend>
                                        
                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                            <div class="col-md-8">
                                                <input id="lname" name="name" type="text" placeholder="Nombre y Apellido" class="form-control">
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                            <div class="col-md-8">
                                                <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                            <div class="col-md-8">
                                                <input id="phone" name="phone" type="text" placeholder="Telefono" class="form-control">
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                            <div class="col-md-8">
                                                <textarea class="form-control" id="message" name="message" placeholder="Dejanos tu mensaje..." rows="7"></textarea>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="btn btn-danger btn-lg">Enviar</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section id="container-form-contact">
                <div class="container-form">
                    <form action="texto.txt" method="post" enctype="text/plain">
                        <fieldset class="container-form-field">
                            <legend class="container-form-field__legend">Contacto</legend>
                            <div class="container__datos-personales">
                                <label for="nombre-y-apellido"></label>
                                <input type="text" class="container__datos-personales nombre" name="nombre-y-apellido" placeholder="Nombre">
                            </div>
                            <div class="container__datos-personales">
                                <label for="empresa"></label>
                                <input type="text" name="empresa" placeholder="Empresa">
                            </div>
                            <div class="container__datos-personales">
                                <label for="email"></label>
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="container__buttons">
                                <input type="reset"/>
                                <input type="submit" value="Enviar informacion">
                                <input type="button" value="Sin accion">
                            </div>
                        </fieldset>
                    </form>
                <div>
			</section>	 -->
				
        </main>

        <footer id="footer">
            <div class="container-footer">
                <div class="container-footer__about-us">
                    <h3>SOBRE NOSOTROS</h3>
                    <p>
                        Somos una distribuidora que cuenta con<br>
                        una amplia variedad de productos:<br>
                        artículos deportivos, jardinería,<br>
                        repuestos para vehículos, insumos<br>
                        industriales, etc.<br>
                        Marcas: Dolphin, OHC, Teswelltech.
                    </p>
                </div>
                <div class="container-footer__social-media">
                    <a href="https://api.whatsapp.com/send?phone=541126780335&text=%C2%A1Hola%21+Estoy+en+la+tienda+DISTRIBUIDORA+GRUPO+UMSA+y+quiero+pedir+m%C3%A1s+informaci%C3%B3n." target="_blank">
                        <img src="/Imagenes/Iconos/whatsapp.png" alt="Whatsapp" class="container-footer__social-media logo">
                    </a>
                    <a href="https://www.instagram.com/distribuidora.grupoumsa/" target="_blank">
                        <img src="/Imagenes/Iconos/instagram.png" alt="Instagram" class="container-footer__social-media logo">
                    </a>
                </div>
                <div class="container-footer__contact">
                    <p>
                        (11) 26780335
                    </p>
                    <p>
                        mnavarro@grupoumsa.com
                    </p>
                    <p>
                        DIAZ VELEZ 2890 GUAYMALLEN MENDOZA
                    </p>
                    
                </div>
            </div>
        </footer>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>