<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Distribuidora Grupo UMSA</title>
        <link rel="icon" href="iconogrupoumsa.ico">
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <header class="header">
            <nav class="nav-opc">
                <div class="logo">
                    <a href="index.html">
                        <img src="Imagenes/iconogrupoumsa1.ico" alt="Logo Grupo Umsa">
                    </a>
                 </div>
                <div class="navegador" >
                    <ul>
                        <li class="list-horizontal"><a href="accesoriosparavehiculos.html">Accesorios para Vehículos</a></li>
                        <li class="list-horizontal"><a href="deportesyfitness.html">Deportes y Fitness</a></li>
                        <li class="list-horizontal"><a href="industriasyoficinas.html">Industrias y Oficinas</a></li>
                        <li class="list-horizontal"><a href="mascategorias.html">Mas categorias</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <H1><b>Industrias y oficinas</b></H1>
        <article>
            <section>
                <h1>INDUSTRIAS Y OFICINAS</h1>
                <ul>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-827610612-rodillo-hot-roll-fechadora-codificadora-negro-36-x-16-tinta-_JM#position=1&search_layout=stack&type=item&tracking_id=bf295b44-2b8d-44b2-a508-712915e9245c" target="_blank">Rodillos 36x16 negro y blanco</a></li>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-865502987-ozonizador-aire-canon-industrial-desinfecta-grandes-superfic-_JM#position=4&search_layout=stack&type=item&tracking_id=78529581-e900-4c90-bc43-bc5deddaf64b" target="_blank">Cañon ozonizador 10g/h</a></li>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-912285050-ozonizador-placa-generadora-ozono-de-24-grh-para-canon-_JM#position=12&search_layout=stack&type=item&tracking_id=052447db-23ef-41d8-92cc-a9141fdfe232" target="_blank">Placa ozonizadora 10g/h</a></li>
                </ul>
            </section>
        </article>
        <footer id="footer">
            <div class="separar-elementos">
                <div class="info-empresa" class="padding-footer">
                    <h3>SOBRE NOSOTROS</h3>
                    <p>
                        Somos una distribuidora que cuenta con<br>
                        una amplia variedad de productos:<br>
                        artículos deportivos, jardinería,<br>
                        repuestos para vehículos, insumos<br>
                        industriales, etc.<br>
                        Marcas: Dolphin, OHC, Teswelltech.
                    </p>
                </div>
                <div class="contacto" class="padding-footer">
                    <p>
                        (11) 26780335
                    </p>
                    <p>
                        mnavarro@grupoumsa.com
                    </p>
                    <p>
                        DIAZ VELEZ 2890 GUAYMALLEN MENDOZA
                    </p>
                    
                </div>
            </div>
        </footer>        
    </body>
</html>