<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Distribuidora Grupo UMSA</title>
        <link rel="icon" href="iconogrupoumsa.ico">
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <header class="header">
            <nav class="nav-opc">
                <div class="logo">
                    <a href="index.html">
                        <img src="Imagenes/iconogrupoumsa1.ico" alt="Logo Grupo Umsa">
                    </a>
                 </div>
                <div class="navegador" >
                    <ul>
                        <li class="list-horizontal"><a href="accesoriosparavehiculos.html">Accesorios para Vehículos</a></li>
                        <li class="list-horizontal"><a href="deportesyfitness.html">Deportes y Fitness</a></li>
                        <li class="list-horizontal"><a href="industriasyoficinas.html">Industrias y Oficinas</a></li>
                        <li class="list-horizontal"><a href="mascategorias.html">Mas categorias</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <article>
            <section>
                <h1>REPUESTOS Y ACCESORIOS PARA VEHICULOS</h1>
                <h2>Las cintas que se se encuentran a la venta:</h2>
                <ul>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-902553351-cable-espiral-cinta-airgbag-toyota-hilux-2010-843060k051-_JM#position=4&search_layout=stack&type=item&tracking_id=5f408d58-d77e-4fa6-802a-68da5e9fdf72" target="_blank">OK051</a></li>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-826718247-cable-espiral-airgbag-toyota-hilux-sin-comando-84306-0k020-_JM#position=1&search_layout=stack&type=item&tracking_id=5f408d58-d77e-4fa6-802a-68da5e9fdf72" target="_blank">OK020</a></li>
                    <li><a href="https://grupoumsa.mercadoshops.com.ar/MLA-902554144-cable-espiral-airg-bag-toyota-rav4-2012-n84306-06140-_JM#position=19&search_layout=stack&type=item&tracking_id=5f408d58-d77e-4fa6-802a-68da5e9fdf72" target="_blank">06140</a></li>
                </ul>
            </section>
        </article>
        <footer id="footer">
            <div class="separar-elementos">
                <div class="info-empresa" class="padding-footer">
                    <h3>SOBRE NOSOTROS</h3>
                    <p>
                        Somos una distribuidora que cuenta con<br>
                        una amplia variedad de productos:<br>
                        artículos deportivos, jardinería,<br>
                        repuestos para vehículos, insumos<br>
                        industriales, etc.<br>
                        Marcas: Dolphin, OHC, Teswelltech.
                    </p>
                </div>
                <div class="contacto" class="padding-footer">
                    <p>
                        (11) 26780335
                    </p>
                    <p>
                        mnavarro@grupoumsa.com
                    </p>
                    <p>
                        DIAZ VELEZ 2890 GUAYMALLEN MENDOZA
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>